{% extends "multie/_layouts/index.twig" %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Multie'|t('plugin-handle'), url: url('multie') },
    { label: 'Sites'|t('plugin-handle'), url: url('multie') },
] %}

{% set showHeader = true %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'sections' %}
{% set title = "Multie Site Manager" %}


{% set contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% include '_elements/sitemenu' %}
    {% endif %}
{% endset %}

{% block actionButton %}

{% endblock %}

{% block content %}
    {# TODO: Move the below into the form actions, but research and do it clean #}
    {% if craft.app.getIsMultiSite() %}
        {{ forms.selectField({
            label: 'Slug Translation Method'|t('app'),
            instructions: 'How should {type} slugs be translated?'|t('app'),
            id: 'slug-translation-method',
            name: 'slugTranslationMethod',
            options: [
                { value: 'none', label: 'Not translatable'|t('app') },
                { value: 'site', label: 'Translate for each site'|t('app') },
                { value: 'siteGroup', label: 'Translate for each site group'|t('app') },
                { value: 'language', label: 'Translate for each language'|t('app') },
                { value: 'custom', label: 'Custom…'|t('app') },
            ]|filter,
            toggle: true,
            targetPrefix: 'slug-translation-method-'
        }) }}
    {% endif %}
    <div id="sections-vue-admin-table"></div>
{% endblock %}

{% js %}

// When changing the site select, navigate to the sections index for that site.
var $siteMenuBtn = $("#header .sitemenubtn:first");

if ($siteMenuBtn.length) {
    var siteMenu = $siteMenuBtn.menubtn().data("menubtn").menu;

    siteMenu.on("optionselect", function(ev) {
        siteMenu.$options.removeClass("sel");
        var $option = $(ev.selectedOption).addClass("sel");
        $siteMenuBtn.html($option.html());
        Craft.cp.setSiteId($option.data("site-id"));

        location.reload();
    });
}

var columns = {{ columns | json_encode | raw }};

var actions = {{ actions | json_encode | raw }};

new Craft.VueAdminTable({

    actions: actions,
    columns: columns,
    container: "#sections-vue-admin-table",
    emptyMessage: Craft.t("plugin-handle", "No sections exist yet."),
    reorderAction: "",
    tableData: {{ tableData | json_encode | raw }},
        allowMultipleSelections: true,
        checkboxes: true

    });


{% endjs %}

