{% extends "multie/_layouts/index.twig" %}

{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Multie'|t('plugin-handle'), url: url('multie') },
    { label: 'Sites'|t('plugin-handle'), url: url('multie') },
] %}

{% set showHeader = true %}
{% set fullPageForm = true %}
{% set selectedSubnavItem = 'sections' %}
{% set title = "Multie Site Manager" %}


{% set contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% include '_elements/sitemenu' %}
    {% endif %}
{% endset %}

{% block actionButton %}

{% endblock %}

{% block content %}
    <div id="sections-vue-admin-table"></div>
{% endblock %}

{% js %}

// When changing the site select, navigate to the sections index for that site.
var $siteMenuBtn = $("#header .sitemenubtn:first");

if ($siteMenuBtn.length) {
    var siteMenu = $siteMenuBtn.menubtn().data("menubtn").menu;

    siteMenu.on("optionselect", function(ev) {
        siteMenu.$options.removeClass("sel");
        var $option = $(ev.selectedOption).addClass("sel");
        $siteMenuBtn.html($option.html());
        Craft.cp.setSiteId($option.data("site-id"));

        location.reload();
    });
}

var columns = {{ columns | json_encode | raw }};

var actions = {{ actions | json_encode | raw }};

new Craft.VueAdminTable({

    actions: actions,
    columns: columns,
    container: "#sections-vue-admin-table",
    emptyMessage: Craft.t("plugin-handle", "No sections exist yet."),
    reorderAction: "",
    tableData: {{ tableData | json_encode | raw }},
        allowMultipleSelections: true,
        checkboxes: true

    });


{% endjs %}

